*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row::before{
    content: '';
    clear: both;
    display: table;
}
.row::after{
    content: '';
    clear: both;
    display: table;
}
.col-1{width: 8.33%; padding: 0 15px; float: left;}
.col-2{width: 16.66%; padding: 0 15px; float: left;}
.col-3{width: 25%; padding: 0 15px; float: left;}
.col-4{width: 33.33%; padding: 0 15px; float: left;}
.col-5{width: 41.66%; padding: 0 15px; float: left;}
.col-6{width: 50%; padding: 0 15px; float: left;}
.col-7{width: 58.33%; padding: 0 15px; float: left;}
.col-8{width: 66.66%; padding: 0 15px; float: left;}
.col-9{width: 75%; padding: 0 15px; float: left;}
.col-10{width: 83.33%; padding: 0 15px; float: left;}
.col-11{width: 91.66%; padding: 0 15px; float: left;}
.col-12{width: 100%; padding: 0 15px; float: left;}
.header-1{
    background-color: #061333;
}

.header-1 .edits ul{
    float: left;
    color: #ffffff;
}
.header-1 .edits ul li{
    display: inline-block;
    padding: 10px 15px;
}
.header-1 .edit ul{
    float: right;   
}
.header-1 .edit ul li{
    display: inline-block;
    padding: 10px 15px;
}
.header-1 .edit ul li a{
    text-decoration: none;
    color: #ffffff;
}
.header-2 ul{
    float: right;
}
.header-2 ul li{
    display: inline-block;
    padding: 37px 15px;
}
.header-2 ul li a{
    text-decoration: none;
}
.banner{
    background-image: url(../Images/banner.jpg);
    height: 600px;
}
